header {
    margin-bottom: 30px;
}

nav {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

form {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

section:last-child > div + article {
    margin-top: 15px;
}

section:last-child {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: var(--espace);
}

section:last-child h2,
section:last-child > div {
    grid-column: 1 / -1;
}

footer {
    margin-top: 30px;
}